#conteudo .pesquisapet {
  position: relative;
  float: right;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#conteudo .pesquisapet:hover {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
}
#conteudo .pesquisapet:active {
  margin: 10px;
  width: 50px;
  height: 50px;
}

#conteudo .addpet {
  position: relative;
  float: left;
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#conteudo .addpet:hover {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
}
#conteudo .addpet:active {
  margin: 10px;
  width: 50px;
  height: 50px;
}

#conteudo #formulario {
  display: none;
}

#conteudo .paginacao {  width: 100%;  text-align: center; margin: 20px 0px 10px 0px; }
#conteudo .paginacao .botao-pag {  padding: 10px 30px; border-radius: 4px; color: #FFF !important; }
#conteudo .paginacao .voltar {  background-color: #d63031; }
#conteudo .paginacao .voltar:hover {  background-color: #ff7675; }
#conteudo .paginacao .mais-pets { background-color: #00b894; }
#conteudo .paginacao .mais-pets:hover { background-color: #55efc4; }
